.input-container {
    margin-top: auto;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
}

.input-area {
    background-color: #F2F2F2;
    border: none;
    border-radius: 50px;
    width: 95%;
    padding: 15px;
    font-size: 1em;
    outline: none;
}

.input-send-button {
    border: none;
    background-color: #EE7A65;
    border-radius: 50px;
    padding: 0 9px;
    outline: none;
    margin-left: 8px;
}

.input-send-button:focus {
    background-color: #9F86C0;
}

.input-send-image {
    height: 30px;
    position: relative;
    right: 2px;
}

.input-area:focus{
    border: solid 2px #9F86C0;
    padding: 13px;
}

@media(max-width: 760px) {
    .input-container {
        padding: 20px;
    }
}