.message-container {
    max-width: 40%;
    margin-bottom: 5px;
}

.message-box {
    background-attachment: fixed;
    background-color:#7CD7D2;
    background-image: linear-gradient( #A7EFEB, #9F86C0 );
    padding: 13px;
    border-radius: 20px;
}

.message-user-container {
    margin-left: auto;
}

.message-user-name {
    text-align: right;
    margin-right: 13px;
    margin-top: 5px;
}

.message-friend-name{
    margin-left: 13px;
    margin-top: 5px;
}