.message-container {
    max-width: 40%;
    margin-bottom: 5px;
}

.message-container.message-current-user {
    margin-left: auto;
}
.message-box {
    background-attachment: fixed;
    background-color:#7CD7D2;
    background-image: linear-gradient( #A7EFEB, #9F86C0 );
    padding: 13px;
    border-radius: 20px;
}

.message-box.message-fact-teller {
    background-image: none;
    background-color: #EE7A65;
}

.sender-name {
    margin-top: 5px;
    font-size: 1em;
    margin-left: 13px;
}

.sender-name.message-current-user {
    text-align: right;
    margin-right: 13px;
}

.message {
    font-size: 1em;
}

.message.message-fact-teller {
    color: white;
    font-style: italic;
}

@media(max-width: 800px) {
    .message-container {
        max-width: 80%;
    }
}
