.users-container {
    background-color: white;
    z-index: 200;
    height: 100%;
}

.users-header {
    font-size: 1.2em;
}

.users-header-container {
    align-items: center;
    padding: 0 28px;
    display: flex;
    height: 80px;
}

.users-list {
    height: calc(100% - 78px);
    overflow: scroll;
}

.user-in-chat {
    margin-right: -1px;
    font-size: 1em;
    padding: 28px;
}

.user-in-chat:nth-child(even) {
    background-color: #DCD5E8;
}

.user-in-chat:nth-child(odd) {
    background-color: #E0F7F6;
}